#aboutMe {
    /* height: calc(100vh - 120px); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* position: relative; */
    /* top: 84px; */
    align-items: center;
    margin-top: 70px;
}

/* .aboutDesc {
    width: 48vw;
    height: calc(100vh - 64px);
    margin: auto;
} */

.aboutDesc img {
    height: 60vh;
    margin: 0 40px;
    box-shadow: 0 10px 60px 0 rgb(0 0 0 / 20%);
    border: 0px solid none;
    border-radius: 16px;
}

.descP {
    /* margin: 42px 44px; */
    display: flex;
    flex-direction: column;

}

.descP h1 {
    font-family: 'Lato';
    padding: 20px 0;
    color: #2e2e2e;
}

.descP p {
    font-size: 1.5rem;
    color: #2e2e2e;
}

.descItalic {
    font-style: italic;
    border-left: 3px solid #2e2e2e;
    margin: 12px 0;
    color: #555;
    font-size: 1.5rem;
    padding-left: 14px;
}

.profileLinks {
    width: 16vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileLinks img {

    margin-top: 20px;
    height: 6vh;
    border-radius: 14px;
    /* border: 2px solid #ceb072; */
}

/* .profileLinks img:hover {
    border: 2px solid #ffffff;
    background-color: #ceb072;
    transition: all 0.2s ease-in;
} */


.resume a {
    border: 2px solid #ceb072;
    border-radius: 14px;
    padding: 13px;
    width: 16vw;
    margin: 8px 0;
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    color: #2e2e2e;
    text-decoration: none;
    /* letter-spacing: 4px; */
    font-weight: bold;
    font-family: 'Lato', sans-serif;

}

.resume a:hover {
    border: 2px solid #ffffff;
    padding: 13px;
    border-radius: 14px;
    width: 16vw;
    margin: 8px 0;
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    color: white;
    background-color: #ceb072;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    transition: all 0.2s ease-in;
    /* letter-spacing: 4px; */
    font-weight: bold;

}

/* ############# exp & skills #############0 */

#resumeDetailed{
        display: flw;
            /* display: flex; */
            margin: 12vh 4vw 12vh;
            /* width: 100%; */
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: lef;
}
#resumeDetailed{
    display: flex;
    font-size: 1.1rem;
}

#education{
    margin: 0 0 4vh 0px;
}

.resumeHeading{
    margin: 0 0 2vh 0;
    color: #2e2e2e;
}
.eduDesc *{
    margin: 0 0 1vh 0;
}


#expskills{
    display: flex;
    justify-content: space-between;
}

.exp{
    margin: 0 0 4vh 0;
}


.devlegends{
    margin: 0 0 2vh 0;
}
.devlegends *{
    margin: 0 0 1vh 0;
}
.devlegends{
    margin: 0 0 2vh 0;
}
.oceco *{
    margin: 0 0 1vh 0;
}

.devlegends *{
    margin: 0 0 1vh 0;
}
.myut{
    margin: 0 0 2vh 0;
}
.myut *{
    margin: 0 0 1vh 0;
}
.bakedFresh{
    margin: 0 0 2vh 0;
}
.bakedFresh *{
    margin: 0 0 1vh 0;
}
.smartRoute{
    margin: 0 0 2vh 0;
}
.smartRoute *{
    margin: 0 0 1vh 0;
}

.resumeLink{
    margin: 5vh 0 0 0;
    color: #ba9043;
}
.resumeLink a{
    color: #ba9043;
    text-decoration-thickness: 0.5vh;
}

#skills{
    margin: 0 0 0 10vw;
}
.skillsDescDiv{
    margin: 0 0 2vh 0;
}

.descHeading{
    color: #2e2e2e;
    margin: 0 0 1vh 0;
}

.skillsList{
    display: flex;
}

.skillsList li{
    list-style: none;
    margin: 1vh 1vw 1vh 1vw;
    background-color: #ba9043;
    font-weight: 500;
    color: #2e2e2e;
    padding: 0.6vh 0.6vw;
    border: 0px solid none;
    border-radius: 8px;
}


/* ################## Responsive web design #################  */
@media only screen and (max-width: 760px) {
    #aboutMe {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* position: relative; */
        /* top: 84px; */
        align-items: center;
        margin-top: 80px;
    }

    .aboutDesc img {
        height: 43vh;
        margin: 0px;
        box-shadow: 0 10px 60px 0 rgb(0 0 0 / 20%);
        border: 0px solid none;
        /* border-radius: 14px; */
        pointer-events: none;
    }

    .aboutDesc {
        width: auto;
        height: auto;
        margin: auto;
    }
        .descP {
            margin: 24px 16px;
            display: flex;
            flex-direction: column;
    
        }

    .profileLinks {
        display: flex;
        width: auto;
        align-items: center;
        justify-content: space-between;

    }
    .profileLinks > a > img{
        display: flex;
        width: auto;
        align-items: center;
        justify-content: space-between;

    }

        .profileLinks img {
    
            margin-top: 20px;
            height: 50px;
            border-radius: 14px;
            border: 2px solid none;
        }

    .medium img{
        height: 32px;
    }

    /* .profileLinks a {
        margin: 0px 16px;
    } */

    .resume a {
        border: 2px solid #ceb072;
        background-color: #ffffff;
        padding: 13px;
        border-radius: 14px;
        width: auto;
        margin: 8px 0 37px;
        display: flex;
        font-size: 1.2rem;
        justify-content: center;
        color: #2e2e2e;
        text-decoration: none;
        /* letter-spacing: 4px; */
        font-weight: bold;
        font-family: 'Lato', sans-serif;
    }

    .resume a:hover {
        border: 2px solid #ffffff;
        padding: 13px;
        border-radius: 14px;
        width: auto;
        margin: 8px 0 37px;
        display: flex;
        font-size: 1.2rem;
        justify-content: center;
        color: #ffffff;
        text-decoration: none;
        background-color: #ceb072;
        /* letter-spacing: 4px; */
        font-weight: bold;
        font-family: 'Lato', sans-serif;
    }
}