.dailyUIItem {
    display: flex;
    margin: 100px auto;
    /* width: auto; */
    justify-content: center;
}

.dailyUIItem img {
    width: 100%;
}

@media only screen and (max-width: 760px) {
    .dailyUIItem {
        display: flex;
        align-items: center;
        margin: 100px auto;
        width: auto;
        justify-content: center;
    }

    .innerWrapper{
        margin: 133px 0 0 0;
    }

    .dailyUIItem img {
        /* height: 34vh'; */
        height: auto;
    }

}