* {
    padding: 0;
    margin: 0;
    font-family: Lato, sans-serif;
}

.heading {
margin: 140px 150px 0px;
}

.heading::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 1px;
    background: #555;
    vertical-align: top;
    margin-top: 11px;
    margin-right: 10px;
}

/* ############# Projects ################## */
.poster {
    height: 300px;
    width: 600px;
    border: 0px solid none;
    border-radius: 14px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: 0 10px 60px 0 rgb(0 0 0 / 20%);


}

.poster img {
    height: 300px;
    width: 600px;
    border: 0px solid none;
    border-radius: 14px;
    transition: all 0.65s ease-in-out;
}

.poster a {
    height: 300px;
    width: 600px;
    border: 0px solid none;
    border-radius: 14px;
}

.poster:hover img {
    transform: scale(1.05);
    animation-delay: 0.25s !important;
}

.projItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px;
    margin-bottom: 160px;
}

.desc {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.desc h1 {
    margin-bottom: 18px;

}

.desc p {
    color: gray;
    font-size: 20px;
}


.keywords {
    display: flex;
    flex-direction: row;
}

.keywords span {
    margin: 20px;
    margin-bottom: 8px;
    padding: 5px 15px;
    background-color: rgb(248, 248, 248);
    color: gray;
    border: 0 solid none;
    border-radius: 14px;
    justify-content: space-between;
}




/* ########## Collaborations ################# */

#collaborations {
    display: flex;
    justify-content: center;
    margin: 60px;
    margin-bottom: 500px;
    /* width: auto; */
}

.colabPoster:hover {
    transform: scale(1.05);
        animation-delay: 0.25s !important;
        transition: all 0.65s ease-in-out;
}

.colab {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 20px;
    align-items: center;
    width: 40%;
    border: 0 solid none;
    border-radius: 14px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 44px
}

.colab img {
    height: 350px;
    border-radius: 14px;

}

.colab img {
    height: 350px;
    margin-top: 40px;

}

.colab h2 {
    text-align: center;
    margin: 20px;
}

.colab p {
    color: gray;
    font-size: 18px;
    text-align: center;
    margin-bottom: 14px;
}

.colabKeywords {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.colabKeywords span {
    margin: 12px;
    margin-bottom: 8px;
    padding: 5px 15px;
    background-color: rgb(248, 248, 248);
    color: gray;
    border: 0 solid none;
    border-radius: 14px;
    justify-content: space-between;
    align-items: center;
}



/* #################### colab two ################## */

#colabTwo {
    position: relative;
    top: 350px;
}

.colabLink {
    text-decoration: none;
    background-color: rgb(248, 248, 248);
    color: #ceb072;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 5px 15px;
    display: flex;
    border: 0 solid none;
    border-radius: 14px;
    transition: all 0.2s linear;
    
}

.colabLink:hover {
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 30px;
    background-color: #ceb072;
    padding: 5px 15px;
    display: flex;
    border: 0 solid none;
    border-radius: 14px;
}


/* ############## Contact ################# */


#contact{
    height: calc(100vh - 256px);
    display: flex;
    flex-direction: column;
    margin: 0 100px;
}

#contact a{
text-decoration: none;
color: black;
font-weight: bold;
font-size: 4rem;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

#contact a:hover{
text-decoration: none;
color: rgb(51, 51, 51);
font-weight: bold;
font-size: 4rem;
font-style: italic;
    font-family: 'Playfair Display', serif;
    transition: all 0.2s ease-in-out;
}



#contact p{
    font-family: Lato, sans-serif;
    font-size: 1.5rem;
}


