#caseStudy{
    padding: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}


/* ####################  Project Overview  ################ */
#overview h1{
    text-align: center;
    margin-bottom: 60px;
}



.productImg{
    height: 140px;
    position: relative;
    top: 0;
}

.productContainer{
    /* border: 1px solid black; */
    margin: auto;
    width: 38%;
    display: flex;
    justify-content: first baseline;
    align-items: center;
    padding: 14px;
    margin-bottom: 20px;
    height: 200px;
 
}

.productContainer h3{
    margin-bottom: 14px;
}

.overviewOne{
    display: flex;
}
.overviewTwo{
    /* height: 400px; */
    display: flex;
}
.overviewThree{
    display: flex;
}


/* #################### Prototype #################### */

#proto{
    display: flex;
    justify-content: center;
}

#proto img{
    height: 550px;
    /* border: 1px solid black;
    justify-content: center; */
    margin-bottom: 60px;
}







/* ################ Understanding the user ################ */

#understandingTheUser{
    margin: 200px 100px;
    /* margin-bottom: 80px; */
}

#understandingTheUser h1{
    text-align: center;
    margin: 20px;
    margin-bottom: 60px;
}
#understandingTheUser p{
    margin: 20px;
    margin-bottom: 60px;
}

.questions{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.questions li {
    height: 40px;
    list-style: none;
    padding: 20px;
    border-left: 4px solid #c62828;
    justify-content: center;
    align-items: center;
    width: 220px;

}




/* ########## User research summary ################ */

#userResearchSummary {
    margin: 200px 100px;
    /* margin-bottom: 80px; */
}

#userResearchSummary h1{
        text-align: center;
            margin: 20px;
            margin-bottom: 60px;
}

#userResearchSummary p{
    margin: 20px;
        margin-bottom: 60px;
}



/* ######################## Pain Point ################### */

#painPoints {
margin: 200px 100px;
}

#painPoints h1{
    text-align: center;
}

.painPointNo{
    height: 100px;
}

.painPointContainer{
    display: flex;
    justify-content: space-between;

}

.painPointDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    width: 400px;
}

.painPointDiv h4{
 text-align: center;
 margin-bottom: 10px;
}

.painPointDiv p{
 text-align: center;
 margin-bottom: 10px;
}


/* ############ Meet the Users ################ */

#users{
margin: 200px 100px;
}
#users h1{
    text-align: center;
}

.users{
    display: flex;
}

.userImg img{
    height: 50vh;
}




/* ####### Competitve analysis ###############  */

#competetiveAnalysis{
margin: 200px 100px;
}

#competetiveAnalysis h1{
    text-align: center;

}

#competetiveAnalysis p{
    margin: 20px;
}

#competetiveAnalysis li{
    margin-left: 40px;
    list-style: none;
    font-weight: bold;
    padding: 8px 0;
}



/* ################ affinity ########### */
#affinity{
margin: 200px 100px;
}


#affinity p{
    margin:20px
}



/* ############## user flow ############# */


#userFlow{
    margin: 200px 100px;
}

#userFlow h1{
text-align: center;
}

#userFlow p{
    margin: 20px;
}


/* ########### paper wireframes ############### */

#paperWireframes{
margin: 200px 100px;
}

#paperWireframes h1{
    text-align: center;
}

#paperWireframes p{
    margin: 20px;
}


/* ################ Digital wireflow ########### */
#digitalWireflow{
margin: 200px 100px;
}

#digitalWireflow h1{
text-align: center;
}

#digitalWireflow p{
    margin: 20px;
}


/* ############## Iterations ############### */
#iterations{
margin: 200px 100px;
}

#iterations h1, h3{
    text-align: center;
}

#iterations p{
    margin: 20px;
}


/* ############ Style guide ########### */
#styleGuide{
margin: 200px 100px;
}

#styleGuide h1{
    text-align: center;
}

#styleGuide p{
    margin: 20px;
}


/* ######## Takeaways ########### */
#takeAways{
    margin: 200px 100px;
}

#takeAways h1{
    text-align: center;
}

#takeAways p{
    margin: 20px;
}

/* ############## Let's Connect ############### */
#letsConnect{
margin: 200px 100px;
}

#letsConnect h1{
    text-align: center;
}

#letsConnect p{
    margin: 20px;
}