#caseStudy {
    padding: 0px 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}

.headingEach {
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 20px 40px;
    border: 0px solid none;
    border-radius: 14px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 100px;
}

.divEach {
    margin: 150px 100px;
}

.divEach p {
    color: #555;
}

/* ####################  Project Overview  ################ */




.productImg {
    height: 140px;
    position: relative;
    top: 0;
}

.productContainer {
    /* border: 1px solid black; */
    margin: auto;
    width: 38%;
    display: flex;
    justify-content: first baseline;
    align-items: center;
    padding: 14px;
    /* margin-bottom: 20px; */
    height: 120px;


}



.productContainer h3 {
    margin-bottom: 14px;
}

.overviewOne {
    display: flex;
}

.overviewTwo {
    /* height: 400px; */
    display: flex;
}

.overviewThree {
    display: flex;
}


/* #################### Prototype #################### */

#proto {
    display: flex;
    justify-content: center;
}

#proto img {
    height: 550px;
    /* border: 1px solid black;
    justify-content: center; */
    margin-bottom: 60px;
}







/* ################ Understanding the user ################ */



#understandingTheUser p {
    margin: 20px;
    margin: 60px;
}

.questions {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.questions li {
    height: 40px;
    list-style: none;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: 220px;
    border-left: 4px solid #c82828;
    border: 0px solid none;
    /* border-radius: 14px; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}




/* ########## User research summary ################ */



#userResearchSummary p {
    margin: 20px;
    margin-bottom: 60px;
    border-left: 4px solid #c82828;
    padding-left: 8px;
    height: 60px;
    align-items: center;
    display: flex;


}



/* ######################## Pain Point ################### */




.painPointNo {
    height: 100px;
}

.painPointContainer {
    display: flex;
    justify-content: space-between;

}

.painPointDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 400px;
    border-top: 4px solid #c82828;
    border: 0px solid none;
    /* border-radius: 14px; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 40px;
}

.painPointDiv h4 {
    text-align: center;
    margin-bottom: 10px;
}

.painPointDiv p {
    text-align: center;
    margin-bottom: 10px;
}


/* ############ Meet the Users ################ */



.users {
    display: flex;
}

.userImg img {
    margin: 20px 40px;
    height: 40vh;
}




/* ####### Competitve analysis ###############  */


#competetiveAnalysis p {
    margin: 20px;
}

#competetiveAnalysis li {
    margin-left: 40px;
    margin-bottom: 8px;
    list-style: none;
    font-weight: bold;
    padding: 8px;
    border-left: 4px solid #c82828;
}



/* ################ affinity ########### */


#affinity p {
    margin: 20px
}



/* ############## user flow ############# */

#userFlow p {
    margin: 20px;
}

.userFlowImg img {
    width: 94vw;
}

/* ########### userJourneyMapImg ########### */
.userJourneyMapImg{
    width: 80vw;
    display: flex;
    justify-content: center;
    margin: auto;
}

/* ########### paper wireframes ############### */


#paperWireframes p {
    margin: 20px;
}

.paperWireframes {
    display: flex;
    justify-content: center;

}

.paperWireframes img {
    height: 60vh;
    /* width: 80vw; */
}


/* ################ Digital wireflow ########### */

#digitalWireflow p {
    margin: 20px;
}

.lofi {
    display: flex;
    justify-content: center;
}

/* ############## Iterations ############### */


#iterations h3 {
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 20px 40px;
    border: 0px solid none;
    border-radius: 14px;
}

#iterations p {
    margin: 20px;
}

.iterationsDesc {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.iterationsDescOne,
.iterationsDescTwo {
    display: flex;
    flex-direction: row;

}

.desc {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 20vw;
    /* border: 0.5px solid gainsboro; */
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin: 14px;
}


/* ################## Refinign the designs ############### */

.redesignedImg img {
    height: 60vh;
}

#redesigned {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}

.cutomization {
    display: flex;
    justify-content: center;
    height: 72vh;
}

/* ############ Style guide ########### */


#styleGuide p {
    margin: 20px;
}


/* ######## Takeaways ########### */

#takeAways p {
    margin: 20px;
}



/* ########## nextPrevious Links ################## */

#nextPreviousLinks {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}

.nextPrevLinks {
    display: flex;
    margin: auto;
    width: 80vw;
    justify-content: center;
}

#nextPreviousLinks li {
    list-style: none;
}

#nextPreviousLinks li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    padding: 14px;
    margin: 10px;
    margin-bottom: 4px;
    display: flex;
    text-align: center;

}

#nextPreviousLinks span {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: black;

}



#nextPreviousLinks a:hover {
    cursor: pointer;
    padding: 14px;
    font-family: 'Roboto', sans-serif;
    color: #ba9043;
    display: flex;
    text-align: center;
    /* border-bottom: 1px solid black; */

}

#nextPreviousLinks a:active {
    cursor: pointer;
    padding: 14px;
    font-family: 'Roboto', sans-serif;
    color: #ba9043;
    display: flex;
    text-align: center;
    /* border-bottom: 1px solid black; */

}

/* ############## Let's Connect ############### */


#letsConnect p {
    margin: 20px;
}

#contact {
    height: calc(100vh - 328px);
    display: flex;
    flex-direction: column;
    margin: 40px 100px;
}

#contact a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

#contact a:hover {
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-weight: bold;
    font-size: 4rem;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    transition: all 0.2s ease-in-out;
}



#contact p {
    font-family: Lato, sans-serif;
    font-size: 1.5rem;
}