* {
    margin: 0px;
    padding: 0px;
    font-family: "Lato";
}

.headingEach {
    text-align: center;
    font-family: 'Lato';

}

.sketchMainDuo {
    display: flex;
    justify-content: space-between;
}

.sketchMainDuoSingle {
    display: flex;
    justify-content: center;
}

#sketchMain {
    display: flex;
    flex-direction: column;
}

.sketchItem img {
    height: 74vh;
    width: 37vw;
    /* margin: 80px; */

}

.sketchItemDifferent img {
    height: 20vh;
    width: 40vw;
    margin: 40px;
}



/* ################ Responsive web design #################  */
@media only screen and (max-width: 760px) {
    .sketchMainDuo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sketchMainDuoSingle {
        margin-top: 125px;
    }

    .sketchItem img {
        height: auto;
        width: 82vw;
        margin: auto;
    }

}